<!DOCTYPE html>
<html ng-app="ar" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agile Report</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="starter-template">
        <h1>Agile Report</h1>
        <p class="lead">
          Use this document as a way to quickly compile daily report.
        </p>
        <p class="text-center"><em>Remember: <a href="http://support.mashery.com/docs/read/customizing_your_portal/Markdown_Cheat_Sheet" target="_blank">Markdown</a> is your friend.</em></p>
      </div>

      <div class="row" ng-controller="ReportCtrl">
        <div class="col-sm-6 setup">
          <div class="form-group">
            <label for="name">First and Last Name:</label>
            <input type="text" id="name" class="form-control" ng-model="name" placeholder="What is your name?"></textarea>
          </div>
          <div class="form-group">
            <label for="done">Done:</label>
            <textarea id="done" class="form-control" rows="4" ng-model="done" placeholder="What was done today?"></textarea>
          </div>
          <div class="form-group">
            <label for="inprogress">In Progress:</label>
            <textarea class="form-control" rows="4" ng-model="inprogress" placeholder="What's in progress still?"></textarea>
          </div>
          <div class="form-group">
            <label for="reviewed">Reviewed:</label>
            <textarea class="form-control" rows="4" ng-model="reviewed" placeholder="What was reviewed today?"></textarea>
          </div>
          <div class="form-group">
            <label for="questions">Questions:</label>
            <textarea class="form-control" rows="4" ng-model="questions" placeholder="Any questions?"></textarea>
          </div>
        </div>
        <div class="col-sm-6 report">
          <h3 class="rName">{{name}}'s work report ({{date | date: 'mediumDate'}})</h3>
          <dl>
            <dt>Done:</dt>
            <dd btf-markdown="done"></dd>
          </dl>
          <dl>
            <dt>In Progress:</dt>
            <dd btf-markdown="inprogress"></dd>
          </dl>
          <dl>
            <dt>Reviewed:</dt>
            <dd btf-markdown="reviewed"></dd>
          </dl>
          <dl>
            <dt>Questions:</dt>
            <dd btf-markdown="questions"></dd>
          </dl>
          <div class="row">
            <div class="col-sm-6">
              <button type="button" class="btn btn-primary" ng-click="sendReport()">Email the Text Report</button>
            </div>
            <div class="col-sm-6">
              <button type="button" class="btn btn-primary" clip-copy="getReportHtmlToCopy()" clip-click="copyReportClick()">Copy the Html Report</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
  <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>

  <script src="js/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="js/bower_components/showdown/compressed/showdown.js"></script>
  <script src="js/bower_components/angular-markdown-directive/markdown.js"></script>

  <script src="js/bower_components/zeroclipboard/ZeroClipboard.min.js"></script>
  <script src="js/bower_components/ng-clip/dest/ng-clip.js"></script>

  <script src="js/ar.js"></script>
</html>